header {
  width: 100%;
  top: 0;
  display: flex;
  position: sticky;
  justify-content: space-between;
  background-color: #fffc;
  backdrop-filter: blur(5px);
  padding-inline: 1em;
}

#name {
  font-size: var(--text-md);
}