div {
  margin: var(--spacing-md);
  padding: var(--spacing-sm);
  border: var(--medium-border);
  border-radius: var(--rounded-xs);
  transition: transform 0.25s;
}

div:hover {
  transform: scale(1.05);
}

.title {
  font-weight: bold;
  font-size: var(--text-md);
}

.created {
  color: var(--gray10);
}