:root {
  /* Spacing, e.g. margin, padding */
  --spacing-xs: 0.5em;
  --spacing-sm: 1em;
  --spacing-md: 2em;
  --spacing-lg: 3.5em;
  --spacing-xl: 5em;

  /* Font size */
  --text-xs: 0.85em;
  --text-sm: 1em;
  --text-md: 1.25em;
  --text-lg: 1.85em;
  --text-xl: 2.5em;
  --text-2xl: 3.85em;

  /* Border radius */
  --rounded-xs: 0.25em;
  --rounded-sm: 0.65em;
  --rounded-md: 1em;
  --rounded-lg: 1.35em;
  --rounded-xl: 1.85em;
  --rounded-half: 50%;
  --rounded-full: 100%;

  /* Borders */
  --thin-border: 1px solid #000;
  --medium-border: 2.5px solid #000;
}